@page "/details"

<PageTitle>JuanmaAlvarry Potter</PageTitle>
<body>
	<div id="details">
		<div id="image">
			<a href=""><img width="400px" src="./images/hp-black.png" /></a>
		</div>
		<div>

		</div>
		<div style="display: flex; justify-content: center; margin-top: 7rem; padding-top: 1rem; padding-bottom: 1rem; color: white; background-color: rgb(50, 50, 50);">
			Página sobre muestreo de datos de Harry Potter - Información obtenida de la API oficial de Harry Potter: <a href="https://hp-api.onrender.com/api/characters" style="text-decoration: none; color: white;"><b>https://hp-api.onrender.com/api/characters</b></a>
		</div>
	</div>
</body>

@code {

}
