@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime

<PageTitle>JuanmaAlvarry Potter</PageTitle>
<body>
	<div id="all">
		<div id="image">
			<a href=""><img width="400px" src="./images/hp-black.png"/></a>
		</div>
		<div id="houses" style="margin-top: 2rem;">
			<div id="houses1" style="display: flex; justify-content: space-evenly; align-items: center;">
				<div id="gryffindor">
					<a href="details"><img width="150px" src="./images/Gryffindor.png" /></a>
				</div>
				<div id="slytherin">
					<img width="160px" src="./images/Slytherin.png" />
				</div>
			</div>
			<div id="houses2" style="display: flex; justify-content: space-evenly; align-items: center; margin-top: 15rem;">
				<div id="ravenclaw">
					<img width="180px" src="./images/Ravenclaw.png" />
				</div>
				<div id="hufflepuff">
					<img width="150px" src="./images/Hufflepuff.png" />
				</div>
			</div>
		</div>
		<div style="display: flex; justify-content: center; margin-top: 7rem; padding-top: 1rem; padding-bottom: 1rem; color: white; background-color: rgb(50, 50, 50);">
			Página sobre muestreo de datos de Harry Potter - Información obtenida de la API oficial de Harry Potter: <a href="https://hp-api.onrender.com/api/characters" style="text-decoration: none; color: white;"><b>https://hp-api.onrender.com/api/characters</b></a>
		</div>
	</div>
</body>

@code{
	
}