@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime

<PageTitle>JuanmaAlvarry Potter</PageTitle>
<body>
	<div id="all">
		
	</div>
</body>

@code{
	private IJSInProcessObjectReference module;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		module = await JSRuntime.InvokeAsync<IJSInProcessObjectReference>("import", "./js/main.js");
		GetHpCharacters();
	}

	private async Task GetHpCharacters() => await module.InvokeVoidAsync("getHpCharacters");
}